* {
    margin: 0;
    padding: 0;
    font-family: Arial, 'Microsoft YaHei';
}

.w {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 196px;
    height: 42px;
    margin-right: 60px;
}


.nav li {
    float: left;
    display: inline;
}

.nav li a {
    display: block;
    height: 42px;
    padding: 0 12px;
    color: #050505;
    text-decoration: none;
    line-height: 42px;
    font-size: 18px;
}

.nav li a:hover {
    border-bottom: solid 2px dodgerblue;
}

.search {
    float: left;
    margin-left: 70px;
    width: 412px;
    height: 42px;

}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: solid 1px #00a4ff;
    padding-left: 15px;
    border-right: 0px;
    font-size: 12px;
    /* 設置點擊輸入框時，邊框不會變成黑色 */
    outline-style: none;

}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* button默認有邊框，需要刪除 */
    border: 0;
    background-image: url(../study/image/btn.png);

}

.user {
    float: right;
    height: 42px;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}

.user img {
    vertical-align: middle;
}

body {
    background-color: #f3f5f7
}

.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background-color: pink;
    background-image: url(../study/image/banner2_20190819_210028.png);
}

.banner .subnav {
    float: left;
    width: 190px;
    height: 421px;
    background-color: rgba(0, 0, 0, 0.3);

}

.banner .subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.banner .subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    /* 浮动的盒子不会有外边距合并的问题 */
    margin-top: 50px;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.bd {
    padding: 0 20px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}

.good {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    line-height: 60px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.good h3 {
    float: left;
    margin-left: 30px;
    line-height: 60px;
    color: #00a4ff;

}

.good ul {
    float: left;
    margin-left: 30px;
}

.good ul li {
    float: left;
}

.good ul li a {
    padding: 0 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 16px;
    color: #050505;
}

.good .mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
}

.box .box-hd {
    height: 40px;
}

.box .box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;

}

.box-bd ul {
    /* 把li 的父亲ul 修改的足够宽一行能装开5个盒子就不会换行了 */
    width: 1225px;
}

.box-bd ul li .pic {
    width: 100%;
}

.box-bd ul li .hot {
    position: absolute;
    top: 2px;
    right: -4px;
}

.box-bd ul li {
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}

.box-bd h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}

.box-bd .info {
    margin: 0px 20px 0px 25px;
    font-size: 12px;
    color: #999;
}

.box-bd .info span {
    color: #ff7c2d;
}

.footer {
    height: 415px;
    background-color: white;
}

.footer .w {
    /* 因使用margin會有內外邊距塌陷，因此使用padding */
    padding-top: 35px;
}

.footer .copyright {
    float: left;
}


.copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    margin-top: 20px;
    border: 1px solid #00a4ff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    color: #00a4ff
}

.footer .links {
    float: right;
}

.links dl {
    float: left;
    margin-left: 100px;
}

.links dl dt {
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}

.links dl dd a {
    color: #333;
    font-size: 12px;
}